/*----------------------------------------------------------------------*/

/*     Titulo    */

.title {
    margin: 20px auto;
    font-size: 40px;
    font-weight: 900;
}

.title-e {
    color:var(--colorR);
    font-weight: 1500;
    font-size: 50px;
}