.cart-container {
    max-width: 600px;
    margin: auto;
}

.cart-container-final {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-container-button-clear {
    border: 3px solid var(--colorR);
    font-weight: bold;
    color: var(--colorR);
    border-radius: 5px;
    padding: 2px;
    /* margin-top: 10px; */
}

.cart-container-button-clear:hover {
    background-color: var(--colorR);
    color: white;
    cursor: pointer;
}

.cart-container-total {
    color: grey;
}


.cart-container-send-button {
    border: none;
    background-color: var(--colorBD);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}

.cart-container-send-button:hover{
    background-color: lightpink;
    cursor: pointer;
}


/* .cart-container-span-link{
    font-weight: bold;
    color: var(--colorR)
}

.cart-container-span-link:hover{
    color: lightpink;
    cursor: pointer;
} */