.header {
  background-color: var(--colorBDD);
  height: var(--altoNavbar);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}


.nav-brand-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: var(--altoNavbar);
  text-decoration: none;
}

.nav-brand-link:hover {
  color: lightpink;
  cursor: pointer;
}


.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu-item {
  margin: auto 20px;
}



